@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/AlexBrush-Regular.ttf') format('truetype');
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
} 